{% extends "network/reusable_content/layout.html" %}

{% block body %}
{{ instance }}
<h1>Update Your Profile</h1>
<br>
{% load thumbnail %}
<img class="profile-img" src="{{ user.profile.photo|thumbnail_url:'avatar' }}" alt="imagine a profile image" />

{{ instance }}
{{ tyype }}
<form method="POST" enctype="multipart/form-data">
    {{ user_edit_form.as_p }}
    {{ profile_edit_form.as_p }}
    {% csrf_token %}
    <p><input class="form-fields" type="submit" value="Save changes"></p>
</form>

{% endblock %}